<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Driver Alerts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-content>
      <ion-list>
        <app-list-item *ngFor="let memo of memoList | async" [memo]="memo"></app-list-item>
      </ion-list>
      <ion-button expand="block" color="danger" *ngIf="isAdmin$ | async" routerLink="/create-memo">
        Memo Blaster
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>