<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>

    <ion-title>Instructions</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="1">
            <ion-icon name="settings"></ion-icon>
          </ion-col>
          <ion-col size="11">
            First, you must set up your app by by going into Settings and turning on all of the activities that you will be using in your daily log. If you do not enable any activities, the app will not function properly.
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="1">
            <ion-icon name="log-out"></ion-icon>
          </ion-col>
          <ion-col size="11">
            Tap this icon to log out of Peregrine Express.
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="1">
            <ion-icon name="add-circle" color="primary"></ion-icon>
          </ion-col>
          <ion-col size="11">
            Tap this button to create a new daily log.
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12">
            <p>Daily logs you have already uploaded will appear on the home page, you can tap on them to view, delete, or make edits. Only 5 of your most recent logs will display.</p>
            <p>If you have any questions about how to use the app, contact your administrator, Toby at (250) 668-5722.</p>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="1">
            <ion-icon name="alert" color="danger"></ion-icon>
          </ion-col>
          <ion-col size="11">
            This app requires an internet connection. If your device is offline (no data or wifi connection), then none of your existing logs will display and you will not be able to upload new logs.
          </ion-col>
        </ion-row>
        
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>