<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Create your account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <app-auth-form #signupForm (formSubmitted)=signupUser($event) [actionButtonText]="'Create Account'" [isSignupPage]="true"></app-auth-form>

      <ion-button expand="block" fill="clear" routerLink="/login">
        I already have an account
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>