<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="currentMemo">{{ currentMemo.subject }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  
  <ion-card *ngIf="currentMemo">

    <ion-card-header>
      <ion-card-subtitle>{{ currentMemo.date | date: 'MMM d, yyyy' }}</ion-card-subtitle>
      <ion-card-title>{{ currentMemo.subject }}</ion-card-title>
    </ion-card-header>
    
    <ion-card-content>

        <p>{{ currentMemo.mainText }}</p>

    </ion-card-content>
    
    <ion-card-content>

      <p class="ion-text-center" *ngIf="!(isConfirmed$ | async)">I confirm that I have read and understand this material.</p>

        <ion-button *ngIf="!(isConfirmed$ | async)" expand="block" (click)="submitConfirmed(currentMemo)" [disabled]="isConfirmed$ | async">
          Confirm
        </ion-button>

        <ion-button *ngIf="(isConfirmed$ | async)" expand="block" (click)="submitConfirmed(currentMemo)" [disabled]="isConfirmed$ | async">
          Confirmed on {{ currentMemo.confirmations[userId].seconds*1000 | date: 'MMM d, yyyy' }}
        </ion-button>

    </ion-card-content>
  </ion-card>
</ion-content>